{% extends 'laout.html' %}
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新增人员</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {% for f in from %}
                    <div class="form-group">
                        <label for="exampleInputName2">{{ f.label }}:</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">确认</button>
            </form>
        </div>
    </div>
{% endblock %}

