{% extends 'laout.html' %}
{% block container %}
    <div style="margin-bottom: 10px"><a class="btn btn-success" href="/department/add">新建部门</a></div>
    <div class="page-header">部门列表</div>
    <div class="panel panel-default">
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in querset %}
                    <tr>

                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/department/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/department/delete?nid={{ obj.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}